@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
:root{
    --background-web: #202029;
    --font: 'Roboto', sans-serif;
    --primary-color: #2B4F90;
    --primary-color-light: #45AEFF;
    --primary-background: #2D2F3C;
    --primary-fade-color: #8A8A8A;
    --second-color: #252F61;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-light);
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
}
/* For PC */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* For greater than tablet */
@media screen and (max-width: 1200px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    .form-input-group{
        flex-direction: column;
    }
    .input-select{
        margin: 0.5rem 0 !important;
    }
}
/* For mobile */
@media screen and (max-width: 612px){
    [class*="col-"] {
        width: 100%;
    }
    .btn-group > button{
        width: 100%;
    }
}
a{
    text-decoration: none;
}
/*  All these columns should be floating to the left, and have a padding of 15px: */
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

/* Clear fix */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.mt-5{
    margin-top: 5rem;
}

/* Button */
.btn{
    background: var(--primary-background);
    color: white;
    border: none;
    border-radius: 8px;
    padding: .7rem 1.4rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.btn-group{
    background-color: var(--primary-background);
    padding: 4px 4px;
    border-radius: 24px;
}
.btn-group > button{
    border-radius: 24px;
    padding: 8px 12px;
}
.btn-group > * {
    color: var(--primary-fade-color);
    background-color: transparent;
}
.btn-group > .btn-active{
    background-color: var(--primary-color);
    color: white;
}
.btn-link{
    padding: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.9rem;
}
.btn-link--blue{
    text-decoration: var(--primary-color-light);
    color: var(--primary-color-light);
}
.btn-primary{
    color: white;
    background-color: var(--primary-color);
}
.btn-outline-primary{
    background-color: transparent;
    border: var(--primary-color-light) 1px solid;
    color: white;
    outline-offset: -2px;
}

.btn-second{
    color: var(--primary-fade-color);
    background: var(--second-color);
}
.btn-outline-second{
    background-color: transparent;
    border: var(--second-color) 1px solid;
    outline-offset: -1px;
    color: white;
}

.btn-md{
    padding: 0.5rem 0.8rem;
}
/* No border radius */
.unround-t{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.unround-b{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* Round */
.rounded{
    border-radius: 20px;
}
/* Margin */
.m-auto{margin: auto;}
.mx-auto{margin: 0 auto;}
.my-auto{margin: auto 0;}
.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}
.mr-5{margin-right: 5rem;}
.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}
.ml-5{margin-left: 5rem;}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.m-1{margin: 1rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}
.m-4{margin: 4rem;}
.m-5{margin: 5rem;}
.mx-1{margin-right: 1rem; margin-left: 1rem;}
.mx-2{margin-right: 2rem; margin-left: 2rem;}
.mx-3{margin-right: 3rem; margin-left: 3rem;}
.mx-4{margin-right: 4rem; margin-left: 4rem;}
.mx-5{margin-right: 5rem; margin-left: 5rem;}
.my-1{margin-top: 1rem; margin-bottom: 1rem;}
.my-2{margin-top: 2rem; margin-bottom: 2rem;}
.my-3{margin-top: 3rem; margin-bottom: 3rem;}
.my-4{margin-top: 4rem; margin-bottom: 4rem;}
.my-5{margin-top: 5rem; margin-bottom: 5rem;}


.ml-h-5{margin-left: 0.5rem;}
.mr-h-5{margin-right:0.5rem;}
.mt-h-5{margin-top:0.5rem;}
.mb-h-5{margin-bottom:0.5rem;}
/* Padding */
.pr-1{padding-right: 1rem;}
.pr-2{padding-right: 2rem;}
.pr-3{padding-right: 3rem;}
.pr-4{padding-right: 4rem;}
.pr-5{padding-right: 5rem;}
.pl-1{padding-left: 1rem;}
.pl-2{padding-left: 2rem;}
.pl-3{padding-left: 3rem;}
.pl-4{padding-left: 4rem;}
.pl-5{padding-left: 5rem;}
.pb-1{padding-bottom: 1rem;}
.pb-2{padding-bottom: 2rem;}
.pb-3{padding-bottom: 3rem;}
.pb-4{padding-bottom: 4rem;}
.pb-5{padding-bottom: 5rem;}
.pt-1{padding-top: 1rem;}
.pt-2{padding-top: 2rem;}
.pt-3{padding-top: 3rem;}
.pt-4{padding-top: 4rem;}
.pt-5{padding-top: 5rem;}
.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.p-4{padding: 4rem;}
.p-5{padding: 5rem;}
.px-1{padding-right: 1rem; padding-left: 1rem;}
.px-2{padding-right: 2rem; padding-left: 2rem;}
.px-3{padding-right: 3rem; padding-left: 3rem;}
.px-4{padding-right: 4rem; padding-left: 4rem;}
.px-5{padding-right: 5rem; padding-left: 5rem;}
.py-1{padding-top: 1rem; padding-bottom: 1rem;}
.py-2{padding-top: 2rem; padding-bottom: 2rem;}
.py-3{padding-top: 3rem; padding-bottom: 3rem;}
.py-4{padding-top: 4rem; padding-bottom: 4rem;}
.py-5{padding-top: 5rem; padding-bottom: 5rem;}

/* Position */
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}

/* Ul li */
ul {
    list-style: none;
}
ul > li{
    padding: 6px 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
/* Float */
.float-left{float: left;}
.float-right{float: right;}
.float-top{float: top;}
.float-bottom{float: bottom;}

/* Flex-center */
.flex-align-center{
    display: inline-flex;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text */
.text-sm{
    font-size: 0.9rem;
}
.text-link-light{
    color: var(--primary-color-light);
}

/* Width */
.w-1{width: 1rem;}
.w-2{width: 2rem;}
.w-3{width: 3rem;}
.w-4{width: 4rem;}
.w-5{width: 5rem;}
.w-6{width: 6rem;}
.w-7{width: 7rem;}
.w-8{width: 8rem;}
.w-9{width: 9rem;}
.w-10{width: 10rem;}
.w-11{width: 11rem;}
.w-12{width: 12rem;}

/* Form */
form{
    width: 100%;
    height: 100%;
}
.form-header{
    text-align: center;
}
.form-input-group{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: space-between;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.form-input > label{
    font-weight: lighter;
    font-size: medium;
}
.form-input > input{
    margin-top: 8px;
    background-color: #2A2C37;
    border: 1px solid var(--primary-fade-color);
    padding: .6rem 1.2rem;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}
.form-input > input:focus{
    outline: 1px solid var(--primary-color-light);
}
.form-checkbox{
    display: block;
}
.form-checkbox > input[type="checkbox"]{
    display: inline-block;
}
.input-select-group{
    justify-content:center;
}
.input-select{
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: #2A2C37;
    color: white;
    font-size: large;
    outline: 1px solid white;
    margin: 0 1rem;
}
.input-select:focus{
    outline: 1px solid var(--primary-color-light);
}
.input-radio-group{
    display: flex;
    flex-direction: column;
}
.input-radio-group > label{
    font-size: small;
}
.alert-error{
    color: red;
    font-weight: lighter;
}
form > button:hover{
    background-color: var(--primary-color-light);
}