body{
    background-color: var(--background-web);
    font-family: var(--font);
}
/* Navigation */
.nav{
    display: flex;
    background-color: #282A34;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}
.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 999;
}   
.nav__group, .nav__account{
    display: flex;
    align-items: center;
}
.nav__menu{
    cursor: pointer;
}
.nav__search{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}
.nav_search-input{
    background-color: #21212B;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 8px 48px;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    border: none;
}
.nav_search-input:focus{
    outline: var(--primary-color-light) solid 1px;
}
#nav__search-icon{
    position: absolute;
    left: 6px;
    top: 4px;
    cursor: pointer;
}
#nav__search-micro{
    position: absolute;
    top: 4px;
    right: 6px;
    margin-left: 12px;
    cursor: pointer;
}

.nav__notification{
    margin: 0 4px;
    cursor: pointer;
}
.nav__avatar{
    border-radius: 50%;
    border: solid 2px var(--primary-fade-color);
    height: 50px;
    width: 50px;
    cursor: pointer;
}
/* Menu list of navigation */
.nav__menu-list{
    position: absolute;
    min-width: 250px;
    max-width: 300px;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--background-web);
    overflow-y: scroll;
    display: none;
}
.nav__menu-list li{
    display: block;
    background-color: #363643;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 12px 16px;
}
.nav__menu-list li:hover{
    background-color: var(--primary-color-light);
}
.nav__menu-list li > a{
    display: block;
    text-decoration: none;
    color: white;
}
#category-list{
    display: none;
}
/* Video */
.video__container > img{
    width: 100%;
    height: 100%;
}

/* Video recommends */
.video-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.video__container{
    grid-column: 1 / 2;
}
.video__recommends{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    position: relative;
}
.video__recommends-tab{
    position: absolute;
}
.video__recommends-list{
    position: absolute;
    background-color: #2A2C37;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
    padding: 12px 16px;
    z-index: 3;
    top: 40px;
}
.recommends__related, .recommends__views{
    font-weight: bold;
    font-size: 1.1rem;
}
.video__list-item{
    display: flex;
    flex-direction: row;
}
.video__contents{
    margin-left: 12px;
}
.video__heading{
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.video__details{
    font-weight: lighter;
    font-size: smaller;
    margin-bottom: 8px;
    color: var(--primary-fade-color);
}
.video__author{
    display: flex;
    align-items: center;
    font-size: 0.9rem;

}
.video__author-avt{
    margin-right: 4px;
}
.video__thumb{
    position: relative;
}
.video__thumb-timer{
    position: absolute;
    right: 0;
    bottom: 4px;
    background-color: var(--primary-color);
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
}

/* Video description */
.video__description{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.video__description{
    color: white;
    background-color: #2D2F3C;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 1rem 1.2rem;
}
.video__title{
    font-size: x-large;
}
.video__creater{
    padding: 0.5rem;
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.video__extension{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.video__creater-avt{
    margin-right: 8px;
}
.video__creater-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.video__creater-subs{
    color: var(--primary-fade-color);
    font-size: small;
    font-weight: lighter;
}
.btn__create-follow{
    border-radius: 20px;
    padding: 4px 40px;
    border-color: var(--primary-color-light);
}
.video__information-text{
    color: var(--primary-fade-color);
}
.video__information-content{
    font-weight: lighter;
    font-size: 0.9rem;
}
/* Comments */
.video__comments{
    grid-row: 3 / span 1;
    grid-column: 1;
}
.comments__textarea-func{
    display: none;
}
.video__comments-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video__cmt-numbers{
    color: var(--primary-fade-color);
}
.video__comments-post{
    display: flex;
}
.comments__post-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#comments__post-textarea{
    height: 2.5rem;
    background: transparent;
    outline: none;
    border-radius: 12px;
    padding: 0.6rem;
    color: white;
    font-size: large;
    border: 1px solid var(--primary-fade-color);

}
#comments__post-textarea:focus{
    height: 5rem;
    outline: var(--primary-color-light) solid 1px;
}
#comments__post-textarea:focus + .comments__textarea-func{
    display: block;
}

.cmt__list-item{
    display: flex;
    color: white;
    align-items: flex-start;
}
/* .cmt__item-main{
    display: flex;

} */
.cmt__item-content{
    display: flex;
    flex-direction: column;
}
.cmt__item-name{
    font-weight: bold;
}
.cmt__item-time{
    color: #8A8A8A;
}
.cmt__item-body{
    font-weight: 200;
    margin-top: 8px;
    font-size: 0.9rem;
}
.cmt__item-func-text{
    font-size: 0.8rem;
}
.cmt__item-reply{
    padding: 0rem;
    display: none;
}
/* Like dislike */
.video__extension-like-dis{
    display: flex;
    align-items: center;
}
.btn-group-like-dis{
    background-color: var(--primary-color);
    padding: .5rem 1.2rem;
}
.btn-group-like-dis > *{
    padding: 0;
    background-color: var(--primary-color);
    border-radius: 0;
    display: inline;
}
.btn-group-like-dis > .btn:first-child{
    padding-right: 1rem;
    border-right: 1px solid white;
    margin-right: 1rem;
}
.btn__extension-share{
    background-color: #404352;
    padding: 0 1.2rem;
}