body{
    background-color: var(--background-web);
    font-family: var(--font);
}
/* Navigation */
.nav{
    display: flex;
    background-color: #282A34;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}
.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 999;
}   
.nav__group, .nav__account{
    display: flex;
    align-items: center;
}
.nav__menu{
    cursor: pointer;
}
.nav__search{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}
.nav_search-input{
    background-color: #21212B;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    padding: 8px 48px;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    border: none;
}
.nav_search-input:focus{
    outline: var(--primary-color-light) solid 1px;
}
#nav__search-icon{
    position: absolute;
    left: 6px;
    top: 4px;
    cursor: pointer;
}
.nav__notification{
    margin: 0 4px;
    cursor: pointer;
}
.nav__avatar{
    border-radius: 50%;
    border: solid 2px var(--primary-fade-color);
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.nav__avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* Nav notification */
.nav__noti-list{
    position: absolute;
    background-color: #202029;
    padding: 0.4rem 0.7rem;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    right: 10%;
    display: none;
}
.nav__noti-list  ul > li{
    display: block;
}
/* Menu list of navigation */
.nav__menu-list{
    position: absolute;
    min-width: 250px;
    max-width: 300px;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--background-web);
    overflow-y: scroll;
    display: none;
    z-index: 999;
}
.nav__menu-list li{
    display: block;
    background-color: #363643;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 12px 16px;
}
#close-menu{
    background-color: transparent;
}
.nav__menu-list li:hover{
    background-color: var(--primary-color-light);
}
.nav__menu-list li > a{
    display: block;
    text-decoration: none;
    color: white;
}
#menu-nav__login-btn, #menu-nav__register-btn, #menu-nav__notifi, #menu-nav__profile{
    display: none;
}
#category-list{
    display: none;
}
#category-list > li{
    background-color: transparent;
}
#category-list > li:hover{
    background-color: var(--primary-color-light);
}
/* Video */
.video__container > img{
    width: 100%;
    height: 100%;
}

/* Video recommends */
.video-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.video__container{
    grid-column: 1 / 2;
}
.video__recommends{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    position: relative;
    margin-left: 1rem;
}
.video__recommends-tab{
    position: absolute;
}
.video__recommends-tab > button:hover{
    background-color: var(--primary-color-light);
    color: white;
}
.video__recommends-list{
    position: absolute;
    background-color: #2A2C37;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
    padding: 12px 16px;
    z-index: 3;
    top: 40px;
}
.recommends__related, .recommends__views{
    font-weight: bold;
    font-size: 1.1rem;
}
.video__list-item{
    display: flex;
    flex-direction: row;
}
.video__contents{
    margin-left: 12px;
}
.video__heading{
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.video__details{
    font-weight: lighter;
    font-size: smaller;
    margin-bottom: 8px;
    color: var(--primary-fade-color);
}
.video__author{
    display: flex;
    align-items: center;
    font-size: 0.9rem;

}
.video__author-avt{
    margin-right: 4px;
}
.video__thumb{
    position: relative;
}
.video__thumb-timer{
    position: absolute;
    right: 0;
    bottom: 4px;
    background-color: var(--primary-color);
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
}

/* Video description */
.video__description{
    color: white;
    background-color: #2D2F3C;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 1rem 1.2rem;
    grid-row: 2;
    grid-column: 1 / 2;
}
#showmore{
    display: none;
}
.video__title{
    font-size: x-large;
}
.video__creater{
    padding: 0.5rem;
    background: var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.creater__details-heading{
    display: flex;
    flex-direction: column;
}
.video__extension{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.video__creater-avt{
    margin-right: 8px;
}
.video__creater-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.video__creater-subs{
    color: var(--primary-fade-color);
    font-size: small;
    font-weight: lighter;
}
.btn__create-follow{
    border-radius: 18px;
    padding: 6px 28px;
    border-width: 3px;
    font-size: 1rem;
    border-color: var(--primary-color-light);
}
.video__information-text{
    color: var(--primary-fade-color);
}
.video__information-content{
    font-weight: lighter;
    font-size: 0.9rem;
    line-height: 1rem;
}
/* Comments */
.video__comments{
    grid-row: 3 / span 1;
    grid-column: 1;
}
.comments__textarea-func{
    display: none;
}
.video__comments-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video__cmt-numbers{
    color: var(--primary-fade-color);
}
.video__comments-post{
    display: flex;
}
.comments__post-textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#comments__post-textarea{
    height: 2.5rem;
    background: transparent;
    outline: none;
    border-radius: 12px;
    padding: 0.6rem;
    color: white;
    font-size: large;
    border: 1px solid var(--primary-fade-color);

}
#comments__post-textarea:focus{
    height: 5rem;
    outline: var(--primary-color-light) solid 1px;
}
#comments__post-textarea:focus + .comments__textarea-func{
    display: block;
}

.cmt__list-item{
    display: flex;
    color: white;
    align-items: flex-start;
}
/* .cmt__item-main{
    display: flex;

} */
.cmt__item-content{
    display: flex;
    flex-direction: column;
}
.cmt__item-name{
    font-weight: bold;
}
.cmt__item-time{
    color: #8A8A8A;
}
.cmt__item-body{
    font-weight: 200;
    margin-top: 8px;
    font-size: 0.9rem;
}
.cmt__item-func-text{
    font-size: 0.8rem;
}
.cmt__item-reply{
    padding: 0rem;
    display: none;
}

/* Like dislike */
.video__extension-like-dis{
    width: 400px;
}
.btn-group-like-dis{
    background-color: var(--primary-color);
    padding: .5rem 1.2rem;
}
.btn-group-like-dis > *{
    padding: 0;
    background-color: var(--primary-color);
    border-radius: 0;
    display: inline;
}
.btn-group-like-dis > .btn:first-child{
    padding-right: 1rem;
    border-right: 1px solid white;
    margin-right: 1rem;
}
.btn__extension-share{
    background-color: #404352;
    padding: 0.5rem 1.0rem;
}
/* Register */
.register__container, .login__container{
    color: white;
}
#register__container-bg{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background: url('../imgs/2022021419052846308.png') center fixed;
}
.register-form, .login-form{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2A2C37;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    z-index: 1000;
}
.pwd_nxcqa{
    justify-content: space-between;
    flex-direction: row;
}
.pwd_nxcqa > a{
    color: var(--primary-color-light);
}
.pwd_nxcqa > .btn:hover{
    background: var(--primary-color-light);
}
/* Profile */
.profile__background{
    position: relative;
}
.profile__background > img{
    height: 30vh;
    width: 100%;
    object-fit: fill;
}
.container__profile{
    position: relative;
}
.profile__avatar{
    position: absolute;
    top: -7rem;
    
}
.profile__avatar > img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid #202029;
}
.profile__info{
    color: white;
}
.profile__tag{
    color: var(--primary-fade-color);
}
.profile__bio{
    font-weight: 200;
}
.profile__filter{
    display: flex;
    align-items: center;
}
.profile-filter-item{
    background-color: transparent;
    padding: 8px 24px;
    color: var(--primary-fade-color);
    text-transform: uppercase;
}
.profile-filter-item.active{
    color: var(--primary-color-light) !important;
    background-color: transparent !important;
    border-bottom: 2px solid var(--primary-color-light);
}
.profile-filter-list{
    width: 700px;
}
.profile-filter-list > li{
    text-transform: uppercase;
}
.profile__search-input{
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;

}
.profile__video-list{
    background-color: #2D2F3C;
    border-radius: 12px;
}
.pr-video-item__img{
    position: relative;
    width: 100%;
}
.pr-video-item__img > img{
    width: 100%;
    border-radius: 12px;
}
.pr-video-item__content-title, .pr-video-item__content-more{
    font-weight: 300;
    font-size: 0.9rem;
}
.img-banner__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.pr-video-item__img-banner{
    position: absolute;
    background-color: #202029;
    opacity: 0.8;
    width: 50%;
    height: 100%;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.pr-video-item__content-info{
    display: flex;
    flex-direction: row;
}
.pr-video-item__content-info > img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.pr-video-item__content-details {
    display: flex;
    flex-direction: column;
}
.register__success, .register__loading{
    position: relative;
    background-color: #202029;
    border-radius: 12px;
    padding: 2rem 3rem;
    text-align: center;
    margin: 0 auto;
    display: none;
}
.register__loading-content{
    color: var(--primary-color-light);
}
.register__success-icon{
    font-size: 64px;
}
.register__success-text{
    color: #14FF00;
}
.register__success-img{
    max-width: 100px;
    max-height: 100px;
}
/* Carousel */
.wrapper__carousel{
    position: relative;
}
.wrapper__carousel .carousel{
    white-space: nowrap;
    cursor: pointer;
    scroll-behavior: smooth;
}
.carousel{
    overflow: hidden;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;   
}
.carousel.dragging .carousel__item{
    pointer-events: none;
}
.carousel__item{
    position: relative;
    width: calc(100%/4);
    white-space: normal;
    object-fit: cover;
    display: inline-block;
    margin-left: 12px;
    border-radius: 12px;
}
.carousel__item:first-child, .carousel__item:last-child{
    margin-left: 0;
}
.carousel__item-img > img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.carousel__item-img::after{
    border-radius: 12px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.carousel__item-details > img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.carousel__item-heading{
    width: 100%;
}
.carousel__item-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 12px;
}
.carousel__item-details{
    display: flex;
}
.carousel__content-info{
    flex-direction: column;
}
.wrapper__carousel > i{
    position: absolute;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper__carousel > i:hover{
    background-color: var(--primary-color-light);
    cursor: pointer;

}
.wrapper__carousel  > i:first-child{
    left: -24px;
    z-index: 11;
}
.wrapper__carousel  > i:last-child{
    right: -24px;
}